<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:macro name="box_inertial" params="lx ly lz m o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <mass value="${m}" />
            <inertia ixx="${1/12 * m * (ly**2 + lz**2)}" ixy="0.0" ixz="0.0" iyy="${1/12 * m * (lx**2 + lz**2)}" iyz="0.0" izz="${1/12 * m * (ly**2 + lx**2)}" />
        </inertial>
    </xacro:macro>
    
    <xacro:macro name="cylinder_inertial" params="r l m o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${1/12 * m * (3 * r**2 + l**2)}" ixy="0.0" ixz="0.0" iyy="${1/12 * m * (3 * r**2 + l**2)}" iyz="0.0" izz="${1/2 * m * r**2}"/>
        </inertial>
    </xacro:macro>
    
    <xacro:macro name="sphere_inertial" params="r m o_xyz o_rpy">
        <inertial>
            <origin xyz="${o_xyz}" rpy="${o_rpy}"/>
            <mass value="${m}"/>
            <inertia ixx="${2/5 * m * r**2}" ixy="0.0" ixz="0.0" iyy="${2/5 * m * r**2}" iyz="0.0" izz="${2/5 * m * r**2}"/>
        </inertial>
        
    </xacro:macro>
    
</robot>